
label {
  text-align: left;
  padding: 0.25rem 0;
  border:none;
  color:black;
}

input{
  margin:0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
}
#Emri-signeup{
  border: none;
}
#Mbiemri-signeup{
  border:none;
}
#Passwordi-signeup{
  border:none;
}

#Email-signeup {
  margin-right:150px;
  border: none;
}

.form-signeup{
  border-radius: 10px;
  margin-top:20px;
  width: 30%;
}
.qapodi{
  font-size: 30px;
  padding-bottom:20px;
}