.body{
    margin: 0;
}
.CoursesMain{
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 3em;
    gap:1em;
    display: grid;
    
    
}

@media (max-width: 768px) {
    .CoursesMain {
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(6, auto); 
      padding: 2em;
    }
  }
  
  @media (max-width: 480px) {
    .CoursesMain {
      grid-template-columns: repeat(1, 1fr); 
      grid-template-rows: repeat(15, auto); 
      padding: 1em;
    }
  }
.CoursesCard{
    background-color: #4682B4;
    color: aliceblue;
    width: 10cm;
    
    /* border: 1px solid #6c63ff; */
}
/* //1E90FF */
.CoursesCard p{
    color: aliceblue;
}

  .CoursesCard:hover{
    box-shadow: 0 3em 3em rgba(0,0,0,0.3);
    border: 2px solid #6c63ff;
}

.card-body:hover, .card-text:hover{
    color: black;
    background-color: #6495ED;
    transition: 400ms ease;
}

.butoni{
    background-color: #00bf8e;
    border: #00bf8e;
}